div
    input(
            type="text"
            name="nama"
            placeholder="Your Name here"
        )
    br
    input(
            type="submit"
            value="Submit Data"
        )
    br

div
    h2 Hello World
    div
        div Ini di dalam div-content 1
        div Ini di dalam div-content 2
    div
        div Ini di dalam div-content 3